streamlit
pandas
plotly
fpdf
xlsxwriter
openpyxl
oauth2client
streamlit-aggrid
gspread==5.11.3
google-auth==2.21.0
kaleido==0.2.1
gspread>=5.7.2,<6.0.0
google-auth>=2.0.0,<3.0.0
google-auth-oauthlib>=0.4.6,<1.0.0
requests>=2.20.0
